{% extends "govuk/template.njk" %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="stylesheets/style.css" rel="stylesheet">
  <!--<![endif]-->

{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Address lookup</h1>
  <div class="govuk-form-group">
    <label class="govuk-label" for="subject">
      Choose an address
    </label>
    <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
      <option value="choose" selected>Choose address</option>
      {% if addresses %}
        {% for address in addresses %}
          <option value="{{ address.GAZETTEER_ENTRY.NAME1 }}">{{ address.GAZETTEER_ENTRY.NAME1 }}</option>
        {% endfor %}
      {% else %}
        <option value="" disabled>No addresses found</option>
      {% endif %}
    </select>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="javascripts/javascript.js"></script>
{% endblock %}